h1,h2,h3 {
  margin: 0;
  color: #666;
}

.PageWrapper {
  position: relative;

  .employeeList .wrapper {
    padding: 0;
  }

  .pageHeading {
    padding: 10px 0;
  }

  .pageComponentTitle {

  }

  .pageComponentContent {

  }
}

.panel {
  .inputNumber {
    padding: 0;
  }
}