.TaskWrapper {
  width: calc(100% - 250px);
  float: left;
  background-color: #ffffff;
}
.TaskSidebarWrapper {
  width: 230px;
  float: left;
  background-color: #ffffff;
  margin-right: 20px;
  position: relative;

  ul {
    padding: 10px 0 0;
    margin: 0;
    li:not(.divider) {
      list-style: none;
      color: #6f6f6f;
      text-decoration: none;
      display: block;
      clear: both;
      font-weight: 300;
      line-height: 18px;
      white-space: nowrap;
      font-size: 14px;
      cursor: pointer;
      text-transform: none;
      margin-bottom: 4px;
      &:hover {
        background-color: #EEEEEE;
      }
      &.active {
        background-color: #f6f6f6;
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        color: #6f6f6f;
        display: block;
        padding: 8px 16px;
      }
    }
  }

  .optionsWrapper {
    float: right;
    margin-top: -5px;

    .optionsButton {
      background-color: #17c4bb;
      border-radius: 20px;
      float: right;
      display: inline-block;
      width: 50px;
      padding: 6px 9px 3px 9px;
      cursor: pointer;
      margin-top: -5px;
      transition: .1s all ease-in-out;
      &:hover {
        background-color: #16958C;
      }

      .drop-icons {
        display: block;
      }
      .glyphicon {
        color: #ffffff;
      }
      .glyphicon-cog {
        font-size: 14px;
      }
      .glyphicon-menu-down {
        font-size: 11px;
        float: right;
        top: 4px;
      }
    }
    .optionsList {
      display: none;
      position: absolute;
      min-width: 175px;
      right: 0;
      z-index: 1000;
      list-style: none;
      padding: 0;
      background-color: #ffffff;
      margin: 35px 15px 0 0;
      border: 1px solid #eee;
      box-shadow: 0 6px 12px rgba(0,0,0,0.175);
      &.on {
        display: block;
      }
      .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background: #f1f3f6;
      }

      ul:before {
        content: '';
        position: absolute;
        top: -8px;
        left: auto;
        right: 9px;
        display: inline-block;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
      }
    }
  }
}

.TaskWrapper, .TaskSidebarWrapper {
  .content {
    padding: 15px;
  }

  .pageComponentTitle {
    text-transform: uppercase;
    color: #17c4bb;
    font-size: 16px;
    padding: 12px 0 16px;
    font-family: "OpenSans-Semibold", sans-serif;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
}