$size: 0.5em;
$color: #17C4BB;

.loader {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 100px;
  position: absolute;
  top: 0;
}

.wrap {
  box-sizing: border-box;
  vertical-align: middle;
}

.loading{
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: $size;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 5px solid transparent;
  border-top-color: $color;
  border-bottom-color: $color;
  border-radius: 50%;
}

.outer{
  animation: spin 1s infinite;
}

.inner{
  animation: spin 1s infinite;
}

@keyframes spin{
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

// body overlay when data loading is in progress
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(255,255,255,.6);
  display: block;
}