// Font-stack ----------------------------------------------------


// Dirs ----------------------------------------------------------
$imgPath: '../../';
$fontPath: '../../../';

// Breakpoints ---------------------------------------------------
$breakpoints: (
  tablet: '(min-width: 768px)',
  default: '(min-width: 1024px)',
  large: '(min-width: 1200px)'
);