// 	Lato fonts

@font-face {
  font-family: 'OpenSans-Regular';
  src: url($fontPath + 'font/OpenSans/regular/opensans-regular.eot');
  src: url($fontPath + 'font/OpenSans/regular/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url($fontPath + 'font/OpenSans/regular/opensans-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url($fontPath + 'font/OpenSans/semibold/opensans-semibold.eot');
  src: url($fontPath + 'font/OpenSans/semibold/opensans-semibold.eot?#iefix') format('embedded-opentype'),
  url($fontPath + 'font/OpenSans/semibold/opensans-semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}